

main {
    margin: 1em;
}

.container {
    width: 700px !important;
}

.header {
    text-align: center;
}

.selectLetter {
    border: solid var(--bs-primary);
    border-width: 3px 3px;
    color: var(--bs-primary);
    font-size: 30px;
    /* margin: 10px; */
    /* padding: 5px; */
} 
 /* 89 191 252 */

.letterChoices {
    padding: 25px;
    margin: 10px;
    font-size: 20px;
    transition:color 1s ease;
}


/* Indicate correct answer, transition the letterChoices button to a success color */
.correctChoice {
    background-color: var(--bs-success) !important;
    border: solid var(--bs-success) !important;
   transition:color 1s ease;
}

/* Indicate incorrect answer, transition the letterChoices button to a danger color */
.incorrectChoice {
    background-color: var(--bs-danger) !important;
    border: solid var(--bs-danger) !important;
    /* TODO: transitions don't work yet :( */
   transition:color 1s ease; 
}